body { //
	background: url("sfondo11.jpg") no-repeat fixed center;
}

.nav {
	font-family: Montserrat, sans-serif;
	background-color: #209b60;
	border: 0;
	margin-bottom: 2%;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 0.9;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 50px;
}

.bgroup {
	margin-left: 55%;
	height: 100%;
	//margin-top: -3.2%;
}

.navbutton {
	border: none;
	margin-left: -1.25%;
	padding: 2%;
	height: 100%;
	background-color: #209b60;
	color: #fff;
	border-radius: 0;
	transition: .2s;
}

.navbutton:hover, .button:focus {
	border: 0px solid #333;
	border-color: white;
	background-color: #fff;
	color: #209b60;
	
}

.button2 {
	border: none;
	margin-left: -1.25%;
	padding: 5px 5px;
	height: 100%;
	background-color: #209b60;
	color: #fff;
	border-radius: 0%;
	transition: .2s;
}

.button2:hover, .button:focus {
	background-color: #fff;
	color: #209b60;
}

.city {
	width: 100%;
}

.divmenu {
	border-radius: 20%;
	width: 35px;
	height: 5px;
	background-color: #209b60;
	margin: 6px 0;
}

.dropbtn {
	background-image: url("menu.png");
	display: inline-block;
	cursor: pointer;
	margin-top: 2%;
	margin-left: 2%;
	border-radius: 20%;
	height: 35px;
	width: 39px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.col-1 {
	position: relative;
	display: inline-block;
	width: 6.35%;
	float: left;
	border-left: 1px solid #209b60;
	border-right: 1px solid #209b60;
	height: 90%;
}

.col-1-content a {
	display: none;
	position: absolute;
}

.col-3 {
	width: 6.40%;
	float: left;
}

.img1 {
	border-radius: 50%;
	float: left;
	margin-left: 12.5%;
	box-shadow: 2px 2px 6px #888888;
	height: 100%;
}

.logo {
	height: 100%;
}

.show {
	display: block;
}

.button1 {
	background-color: WHITE;
	border: none;
	width: 100%;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	font-family: Courier New;
	position: relative;
	"
}

.button {
	background-color: WHITE;
	border: none;
	width: auto;
	border-radius: 5%;
	height: 50px;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 150%;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	font-family: Courier New;
	font-weight: bold;
	position: relative;
	border-left: 1px solid #209b60;
	border-right: 1px solid #209b60;
	color: #209b60;
}

.h2 {
	font-size: 40px;
	font-family: Courier New;
	color: #209b60;
}

.h3 {
	font-size: 20px;
	font-family: Courier New;
	color: #209b60;
}

.h4 {
	font-size: 15px;
	font-family: Courier New;
	color: #209b60;
}

.h5 {
	font-size: 10px;
	font-family: Courier New;
	color: #209b60;
}

.header {
	background-color: #209b60;
	border-left: 1px solid #209b60;
	border-right: 1px solid #209b60;
	height: 10%;
}

.footer {
	background-color: #209b60;
	border-left: 1px solid #209b60;
	border-right: 1px solid #209b60;
	height: 20%;
}

input {
	padding: 2%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
}

.col-2 {
	width: 93%;
	float: right;
	height: 80%;
}

.container {
	height: auto;
	margin-top: 5%;
	border-left: 1px solid #209b60;
	border-right: 1px solid #209b60;
}

.container2 {
	font-family: Courier New;
	padding: 2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	border-radius: 15px 15px 15px 15px;
	width: auto;
	height: auto;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

button:hover {
	background-color: #209b60;
	color: white;
}

li button:hover {
	background-color: #209b60;
	color: white;
}

.bot {
	font-size: 15px;
}

w3-red, .w3-hover-red:hover {
	color: #fff !important;
	background-color: #f44336 !important
}

h5.ciao {
	width: 70%;
	padding: 15px 15px;
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-family: Courier New;
	-webkit-transition: all 1s ease;
	position: relative;
	margin-top: -7px;
}

table {
	
}

th, td {
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ffff;
	width: 100%;
}

th {
	font-family: Courier New;
	background-color: #209b60;
	color: white;
}