<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h1>Create new Task</h1>
	<form id="taskForm" th:action="@{'/projects/' + ${project.Id} + '/addTask'}" method="POST">

		<table>
			<tr>
				<td><label for="taskNameInput">Task Name</label>
				<td><input id=taskNameInput type="text" placeholder="NAME"
					required th:field="${taskForm.name}" />
				<td th:if="${#fields.hasErrors('taskForm.name')}"
					th:errors="${taskForm.name}" th:style="color:red"></td>
			</tr>
			<tr>
				<td><label for="taskDescriptionInput">Description</label></td>
				<td><input id=taskDescriptionInput type="text"
					placeholder="DESCRIPTION" required
					th:field="${taskForm.description}" /></td>
				<td th:if="${#fields.hasErrors('taskForm.description')}"
					th:errors="${taskForm.description}" th:style="color:red"></td>
			</tr>
			<tr>
				<td><button type="submit">Create</button></td>
		</table>
	</form>
</body>
</html>