<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"  href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body align="center">
<div class="container">
<h1 class="h2" th:text="'Welcome, Master ' + ${user.firstName} + '!'" align="center"></h1>
</div>
<h2 class="h3" >Utenti Registrati</h2>
<table align="center" class="container2">
        <tr th:each="credential: ${credentials}">
            <td><a th:href="'/admin/' + ${credential.userName}"
						th:text="${credential.userName}">...</a></td>
			<td><a th:href="'/admin/delete/' + ${credential.userName}" onclick="return confirm('ATTENZIONE! Vuoi davvero eliminare questo utente?');">Elimina Utente</a></td>
        </tr>
       
    </table>
    <h4><Button class="button" onclick="location.href='/logout'">Logout</Button></h4>
</body>
</html>