<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"  href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="UTF-8">
    <title>TaskManager</title>
</head>
<body align="center">
<h1 class="h2" th:text="'Benvenuto, ' + ${user.firstName} + '!'"></h1>
<table align="center">
<tr><td><Button class="button" onclick="location.href='/projects'" style="width:80%;height:auto;border-radius:2%;">I miei progetti</Button><td></tr>
<tr><td><Button class="button" onclick="location.href='/visibleProjects'" style="width:80%;height:auto;border-radius:2%;">Condivisi con me</Button><td></tr>
<tr><td><Button class="button" onclick="location.href='/projects/add'" style="width:80%;height:auto;border-radius:2%;">Crea nuovo progetto</Button><td></tr>
<tr><td><Button class="button" onclick="location.href='/users/me'" style="width:80%;height:auto;border-radius:2%;">Profilo</Button><td></tr>
<tr><td><Button class="button" onclick="location.href='/logout'" style="width:80%;height:auto;border-radius:2%;">Logout</Button><td></tr>
</table>
</body>
</html>