<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body align="center">
	<div class="container">
		<h1 class="h2">Benvenuto!</h1>
	</div>

	<a href="/login"><button class="button"
			style="margin: 2%; width: 15%;">Login</button></a>
	<a href="/users/register"><button class="button"
			style="margin: 2%; width: 15%;">Registrati</button></a>
	</p>
</body>
</html>