<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TaskManager</title>
</head>
<body align="center">
<div class="container" align="center">
	<h1 class="h2" align="center">My Visible Projects</h1>
</div>	
	<div>
		<table class="container2" align="center">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectList}">
					<td><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}">...</a></td>
					<td th:text=${project.description}>...</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>