<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
<link rel="stylesheet"  href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
<table class="container2" align="center">
<tbody align="left">
<tr>
	<td><h1 class="h3">Nome:</h1></td>
	<td><h1 th:text="${project.name}"></h1></td>
</tr>
<tr>
	<td><h1 class="h3">Descrizione:</h1></td>
	<td><h4 th:text="${project.description}" style="color: gray"></h4></td>
</tr>
<tr>
	<td><h1 class="h3">Tags:</h1></td>
	<td th:each="tag: ${project.tags}"><h4 th:text="${tag.name}" th:style="'color:'+ ${tag.color}" ></h4></td>
</tr>
</table>
<h3 class="h2">Condiviso con:</h3>
<div th:if="${members.size() <= 0}" class="container2">
		<h4 class="h3">Nessuno</h4>
	</div>
	<div class="container2" style="margin-top:2%;" th:if="${members.size() > 0}">
		
		<ul>
			<li th:each="member: ${members}">
				<div th:text="${member.firstName}+ ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>

	<h3 class="h2">Task</h3>
	<!--appare solo se non ci sono task-->
	<div th:if="${project.tasks.size() <= 0}" class="container2">
		<h4 class="3">Nessun task</h4>
	</div>
	<!--lista dei task-->
	<table class="container2" th:if="${project.tasks.size() >0}" align="center">
	<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
        <tr th:each="task: ${project.tasks}">

            <td><a th:href="'/projects/' + ${project.id} + '/tasks/' + ${task.id}" th:text="${task.name}"></a></td>
            <td><div th:text="${task.description}"></div></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/assign/' + ${task.id}">Assegna Task</a></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/update/' + ${task.id}">Modifica Task</a></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/delete/' + ${task.id}">Cancella Task</a></td>
        </tr>
       
    </table>
	<div th:if="${project.owner.equals(loggedUser)}">
		<p><a th:href="'/projects/update/' + ${project.id}">Modifica Progetto</a></p>
		<p><a th:href="'/projects/delete/' + ${project.id}" onclick="return confirm('Attenzione!! Cancellare il progetto?');">Elimina Progetto</a></p>
		<p><a th:href="'/projects/share/' + ${project.id}">Condividi Progetto</a></p>
		<!--posso aggiungere task solo se sono il proprietario-->
		<h4>
			<a th:href="'/projects/' + ${project.Id} + '/addTask'">Aggiungi task</a>
		</h4>
		<h2 class="h2">Aggiungi Tag</h2>
		<form id = "insertTagForm"
      th:action="@{'/projects/' + ${project.Id} + '/addTag'}"
      method="POST">
      
      <table  class="container2" align="center" >
      <tbody align="left">
			<tr>
				<td><label class="h3" for="tagNameInput">tag Name</label>
				<td><input id=tagNameInput type="text" placeholder="NAME"
					required th:field="${tagForm.name}" />
				<td th:if="${#fields.hasErrors('tagForm.name')}"
					th:errors="${tagForm.name}" th:style="color:red"></td>
			</tr>
			<tr>
				<td><label class="h3" for="tagDescriptionInput">Description</label></td>
				<td><input id=tagDescriptionInput type="text"
					placeholder="DESCRIPTION" required
					th:field="${tagForm.description}" /></td>
				<td th:if="${#fields.hasErrors('tagForm.description')}"
					th:errors="${tagForm.description}" th:style="color:red"></td>
			</tr>
			<tr>
				<td><label class="h3" for="tagcolorInput">Color</label></td>
				<td><input id=tagcolorInput type="text"
					placeholder="COLOR" required
					th:field="${tagForm.color}" /></td>
				<td th:if="${#fields.hasErrors('tagForm.color')}"
					th:errors="${tagForm.color}" th:style="color:red"></td>
			</tr>
				
		</table>
	   <button type="submit" align="center" class="button" style="margin-top:2%">Aggiungi</button>
      </form>
	</div>
</body>
</html>