<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h1 th:text="${project.name}"></h1>
	<h4 th:text="${project.description}" style="color: gray"></h4>

	<div>
		<h3>Condiviso con:</h3>
		<ul>
			<li th:each="member: ${members}">
				<div th:text="${member.firstName}+ ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>

	<h3>Task</h3>
	<!--appare solo se non ci sono task-->
	<div th:if="${project.tasks.size() <= 0}">
		<h4>Nessun task</h4>
	</div>
	<!--lista dei task-->
	<table >
        <tr th:each="task: ${project.tasks}">
            <td><div th:text="${task.name}"></div></td>
            <td><div th:text="${task.description}"></div></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/assign/' + ${task.id}">Assegna Task</a></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/update/' + ${task.id}">Modifica Task</a></td>
            <td th:if="${project.owner.equals(loggedUser)}"><a th:href="${project.Id} + '/tasks/delete/' + ${task.id}">Cancella Task</a></td>
        </tr>
       
    </table>
	<ul>
		<li th:each="task: ${project.tasks}">
			<div th:text="${task.name}"></div>
			<div th:text="${task.description}" style=""></div>
		</li>
	</ul>
	<div th:if="${project.owner.equals(loggedUser)}">
		<p><a th:href="'/projects/update/' + ${project.id}">Modifica Progetto</a></p>
		<p><a th:href="'/projects/delete/' + ${project.id}">Elimina Progetto</a></p>
		<p><a th:href="'/projects/share/' + ${project.id}">Condividi Progetto</a></p>
		<!--posso aggiungere task solo se sono il proprietario-->
		<h4>
			<a th:href="'/projects/' + ${project.Id} + '/addTask'">Aggiungi task</a>
		</h4>
	</div>
</body>
</html>