<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TaskManager</title>

</head>

<body>
	<div class="nav">
		<div class="bgroup" align="right">
			<button class="button2" th:onclick="location.href='/home'">Home</button>
		</div>
	</div>
	<div class="container">
		<h2 class="h2" align="center">Registrazione</h2>
	</div>
	<form id="registerUserForm" th:action="@{/users/register}"
		method="POST" align="center" style="margin-top: 2%;">

		<table align="center" class="container2">
			<tr>
				<td><label class="h3" for="userNameInput">Username</label>
				<td><input class="input" id=userNameInput type="text"
					th:field="${credentialsForm.userName}" placeholder="USERNAME"
					required /></td>
				<td th:if="${#fields.hasErrors('credentialsForm.userName')}"
					th:errors="${credentialsForm.userName}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label class="h3" for="passwordInput">Password</label></td>
				<td><input class="input" id="passwordInput" type="password"
					th:field="${credentialsForm.password}" placeholder="PASSWORD" /></td>
				<td th:if="${#fields.hasErrors('credentialsForm.password')}"
					th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label class="h3" for="firstNameInput">Nome</label></td>
				<td><input class="input" id="firstNameInput" type="text"
					th:field="${userForm.firstName}" placeholder="NOME" /></td>
				<td th:if="${#fields.hasErrors('userForm.firstName')}"
					th:errors="${userForm.firstName}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label class="h3" for="lastNameInput">Cognome</label></td>
				<td><input class="input" id="lastNameInput" type="text"
					th:field="${userForm.lastName}" placeholder="COGNOME" /></td>
				<td th:if="${#fields.hasErrors('userForm.lastName')}"
					th:errors="${userForm.lastName}" th:style="'color:red'"></td>
			</tr>



		</table>
		<button type="submit" class="button" align="center"
			style="margin-top: 2%;">Registrati</button>
	</form>
</body>
</html>