<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h1 th:text="${taskForm.name}"></h1>
	<h4 th:text="${taskForm.description}" style="color: gray"></h4>
	<h4 th:if="${taskForm.assignee != null}"
		th:text="'Assegnato a: ' + ${taskForm.assignee.firstName}"></h4>
	<h4 th:unless="${taskForm.assignee != null}">Assegnato a: nessuno</h4>
	<!-- testo con condizione: se il task è completato mostra 'Completed', altrimenti 'To do'.
		 la sintassi è (if) : (then) :? (valore di default, ovvero 'To do') -->
	<h4 th:if="${taskForm.isCompleted()}">Stato: completato</h4>
	<h4 th:unless="${taskForm.isCompleted()}">Stato: da fare</h4>
	<!-- <h4 th:text="'Stato: ' + ${taskForm.isCompleted()} ? 'Completato' : 'Da fare'"></h4> -->

	<h4 th:text="Tags"></h4>
	<ul>
		<li th:each="tag : ${taskForm.getTags()}" th:text="${tag.name}">
	</ul>
	<ul>
		<li th:each="comment : ${taskForm.getComments()}"
			th:text="${comment.description}">
	</ul>
	<!-- se sei membro del progetto puoi aggiungere un commento al task -->

	<div>
	<!-- controllo -->
		th:if="${(!projectForm.members.contains(loggedUser)) && !(projectForm.owner.equals(loggedUser))}">
		<form id="commentForm"
			th:action="@{'/projects/' + ${projectId} + '/tasks/addComment/' + ${taskId}}"
			th:object="${commentForm}" method="POST">

			<input name="comment" type="text" th:field="*{description}"
				placeholder="inserisci un commento" size="40" maxlength="256" required/>
			<button type="submit">aggiungi commento</button>

		</form>
	</div>

	<h2>
		<a th:href="@{/projects}">I miei progetti</a>
	</h2>
	<h2>
		Torna alla <a th:href="@{/home}">Home</a>
	</h2>

</body>
</html>