<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
	<div class="nav">
		<div class="bgroup" align="right">
			<button class="button2" th:onclick="location.href='/home'">Home</button>
		</div>
	</div>
	<div class="container">
		<h1 class="h2" align="center">Aggiorna info Task</h1>
	</div>
	<form id="updateTaskForm"
		th:action="@{'/projects/' + ${projectId} + '/tasks/update/' + ${taskId}}"
		th:object="${taskForm}" method="POST">

		<table class="container2" align="center">
			<tbody align="left">
				<tr>
					<td><label class="h3" for="nameInput">Nome</label>
					<td><input id=nameInput type="text" th:field="*{name}"
						placeholder="NOME" required /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						th:style="'color:red'"></td>
				</tr>
				<tr>
					<td><label class="h3" for="descriptionInput">Descrizione</label></td>
					<td><input id="descriptionInput" type="text"
						th:field="*{description}" placeholder="DESCRIZIONE" /></td>
					<td th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}" th:style="'color:red'"></td>
				</tr>
				<tr>
					<td><h3 class="h3">
							Tags:
							</h3></td>
					<td>
						<table>
							<tbody align="left">
								<tr th:each="tag : ${projectForm.getTags()}">
									<td><label for="tagsInput" th:text="${tag.name}"
										th:style="'color :' + ${tag.color}"></label></td>
									<td><input id="tagsInput" type="checkbox" th:name="tagsId"
										th:value="${tag.id}" /></td>
								</tr>
						</table>
					</td>
				</tr>


				<tr>
					<td><label class="h3" for="completedInput">Completato</label></td>
					<td><input id="completedInput" type="checkbox"
						th:field="*{completed}" name="completato" /></td>
				</tr>
		</table>

		<button class="button" style="margin-top: 2%" type="submit">Conferma
			modifiche</button>
	</form>

</body>
</html>