<!DOCTYPE html>
<html lang="en" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
<link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body align="center">
	<table class="container2" align="center">
		<tbody align="left">
			<tr>
				<td>
					<h1 class="h3">Nome:</h1>
				</td>
				<td>
					<h1 th:text="${taskForm.name}"></h1>
				</td>
			</tr>
			<tr>
				<td>
					<h1 class="h3">Descrizione:</h1>
				</td>
				<td>
					<h4 th:text="${taskForm.description}" style="color: gray"></h4>
				</td>
			</tr>
			<tr>
				<td>
					<h1 class="h3">Assegnato a:</h1>
				</td>
				<td>
					<h4 th:if="${taskForm.assignee != null}"
						th:text="${taskForm.assignee.firstName}"></h4>
					<h4 th:unless="${taskForm.assignee != null}">nessuno</h4>
				</td>
			</tr>

			<!-- testo con condizione: se il task ï¿½ completato mostra 'Completed', altrimenti 'To do'.
		 la sintassi ï¿½ (if) : (then) :? (valore di default, ovvero 'To do') -->
			<tr>
				<td>
					<h4 class="h3">Stato:</h4>
				</td>
				<td>
					<h4 th:if="${taskForm.isCompleted()}">completato</h4>
					<h4 th:unless="${taskForm.isCompleted()}">da fare</h4>
				</td>
			</tr>
	</table>
	<!-- <h4 th:text="'Stato: ' + ${taskForm.isCompleted()} ? 'Completato' : 'Da fare'"></h4> -->

	<!-- se sei membro del progetto puoi aggiungere un commento al task -->

	<div
		th:if="${(!projectForm.members.contains(loggedUser)) && !(projectForm.owner.equals(loggedUser))}">
		<form id="commentForm"
			th:action="@{'/projects/' + ${projectId} + '/tasks/addComment/' + ${taskId}}"
			th:object="${commentForm}" method="POST">

			<input name="comment" type="text" th:field="*{description}"
				placeholder="inserisci un commento" size="40" maxlength="256"
				required />
			<button type="submit">aggiungi commento</button>
		</form>
	</div>

	<h4 class="h2" th:text="Tags"></h4>
	<table class="container2" align="center">
		<tbody align="left">
			<tr th:each="tag : ${taskForm.getTags()}">
				<td><h1 class="h3">Nome:</h1></td>
				<td><h1 th:text="${tag.name}"></h1>>
			</tr>
	</table>
	<button class="button " th:onclick="location.href='/projects'">I
		miei progetti</button>
	<button class="button " th:onclick="location.href='/home'">Home</button>

</body>
</html>