<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
</head>

<body>
<h1>Update Task Information</h1>
<form id = "updateTaskForm"
      th:action="@{'/projects/' + ${projectId} + '/tasks/update/' + ${taskId}}"
      method="POST">

    <table>
        <tr>
            <td><label for="nameInput">Nome</label>
            <td><input id=nameInput type="text" th:field="${taskForm.name}" placeholder="NAME" required/></td>
            <td th:if="${#fields.hasErrors('taskForm.name')}" th:errors="${taskForm.name}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="descriptionInput">Descrizione</label></td>
            <td><input id="descriptionInput" type="text" th:field="${taskForm.description}" placeholder="DESCRIPTION"/></td>
            <td th:if="${#fields.hasErrors('taskForm.description')}" th:errors="${taskForm.description}" th:style="'color:red'"></td>
        </tr>
        <tr>
            <td><label for="completedInput">Completato </label></td>
            <td><input id="completedInput" type="checkbox" name="completato"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Conferma modifiche</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>