<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>TaskManager</title>
</head>

<body>
	<h1>Update Task Information</h1>
	<form id="updateTaskForm"
		th:action="@{'/projects/' + ${projectId} + '/tasks/update/' + ${taskId}}"
		th:object="${taskForm}" method="POST">

		<table>
			<tr>
				<td><label for="nameInput">Nome</label>
				<td><input id=nameInput type="text" th:field="*{name}"
					placeholder="NAME" required /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="descriptionInput">Descrizione</label></td>
				<td><input id="descriptionInput" type="text"
					th:field="*{description}" placeholder="DESCRIPTION" /></td>
				<td th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}" th:style="'color:red'"></td>
			</tr>
			<!-- <tr th:each="tag : ${projectForm.getTags()}">
        	<td><label for="tagsInput" th:text="${tag.name}" th:style="'color:${tag.color}'"></label></td>
        	<td><input id="tagsInput" type="checkbox" th:field="*{tags}" th:value="${tag}"/></td>
 		</tr> -->
 		
			<tr th:each="tag : ${projectForm.getTags()}">
				<td>
				<label for="tagsInput" th:text="${tag.name}" th:style="'color :' + ${tag.color}"></label></td>
				<td>
				<input id="tagsInput" type="checkbox" th:name="tagsId" th:value="${tag.id}" /></td>
			</tr>

			<tr>
				<td><label for="completedInput">Completato</label></td>
				<td><input id="completedInput" type="checkbox"
					th:field="*{completed}" name="completato" /></td>
			</tr>
		</table>

		<button type="submit">Conferma modifiche</button>
	</form>

</body>
</html>