<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
    	<link rel="stylesheet"  href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body>
<div class="nav">
<div class="bgroup" align="right">
  <a href="/users/update"><button class="button2">Modifica Profilo</button></a>
	<button class="button2" th:onclick="location.href='/home'">Home</button>
  </div>
</div>

<div class="container" >
<h1 class="h2" align="center" th:text="${credentials.userName} "> </h1>
</div>    
   <table align="center">
<tr>
<td>
    <table class="container2" >
        <tr>
            <td><h1 class="h3">Username</h1></td>
            <td th:text="${credentials.userName}">...</td>
        </tr>
        <tr>
            <td><h1 class="h3">First Name</h1></td>
            <td th:text="${user.firstName}">...</td>
        </tr>
        <tr>
            <td><h1 class="h3">Last Name</h1></td>
            <td th:text="${user.lastName}">...</td>
        </tr>
        <tr>
            <td><h1 class="h3">Role</h1></td>
            <td th:text="${credentials.role}">...</td>
        </tr>
        <tr>
            <td><h1 class="h3">Registered at: </h1></td>
            <td th:text="${user.creationTimestamp}">...</td>
        </tr>
        <tr>
            <td><h1 class="h3">Last Update at:</h1></td>
            <td th:text="${user.lastUpdateTimestamp}">...</td>
        </tr>
    </table>
</body>
</html>